<a href="https://colab.research.google.com/github/sruthib22/data690_Sruthi/blob/main/assignment_10/assignment_10_part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
pew = pd.read_csv('https://raw.githubusercontent.com/chendaniely/pydatadc_2018-tidy/master/data/pew.csv')

In [4]:
pew.head()

             religion  <$10k  $10-20k  ...  $100-150k  >150k  Don't know/refused
0            Agnostic     27       34  ...        109     84                  96
1             Atheist     12       27  ...         59     74                  76
2            Buddhist     27       21  ...         39     53                  54
3            Catholic    418      617  ...        792    633                1489
4  Don’t know/refused     15       14  ...         17     18                 116

[5 rows x 11 columns]

In [5]:
pew_long = pd.melt(pew, id_vars = 'religion')

In [6]:
pew_long.head()

             religion variable  value
0            Agnostic    <$10k     27
1             Atheist    <$10k     12
2            Buddhist    <$10k     27
3            Catholic    <$10k    418
4  Don’t know/refused    <$10k     15

In [7]:
pew_long = pd.melt(pew, id_vars = 'religion', var_name = 'income', value_name='count')

In [8]:
pew_long.head()

             religion income  count
0            Agnostic  <$10k     27
1             Atheist  <$10k     12
2            Buddhist  <$10k     27
3            Catholic  <$10k    418
4  Don’t know/refused  <$10k     15

In [9]:
billboard = pd.read_csv('https://raw.githubusercontent.com/chendaniely/pydatadc_2018-tidy/master/data/billboard.csv')

In [10]:
billboard

     year            artist                    track  ... wk74 wk75  wk76
0    2000             2 Pac  Baby Don't Cry (Keep...  ...  NaN  NaN   NaN
1    2000           2Ge+her  The Hardest Part Of ...  ...  NaN  NaN   NaN
2    2000      3 Doors Down               Kryptonite  ...  NaN  NaN   NaN
3    2000      3 Doors Down                    Loser  ...  NaN  NaN   NaN
4    2000          504 Boyz            Wobble Wobble  ...  NaN  NaN   NaN
..    ...               ...                      ...  ...  ...  ...   ...
312  2000       Yankee Grey     Another Nine Minutes  ...  NaN  NaN   NaN
313  2000  Yearwood, Trisha          Real Live Woman  ...  NaN  NaN   NaN
314  2000   Ying Yang Twins  Whistle While You Tw...  ...  NaN  NaN   NaN
315  2000     Zombie Nation            Kernkraft 400  ...  NaN  NaN   NaN
316  2000   matchbox twenty                     Bent  ...  NaN  NaN   NaN

[317 rows x 81 columns]

In [11]:
billboard_melt = pd.melt(
    billboard,
    id_vars = ['year','artist','track','time','date.entered'],
    var_name = 'week',
    value_name = 'rating'
)

In [12]:
billboard_melt.head()

   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

In [13]:
billboard.shape

(317, 81)

In [14]:
billboard_melt.head()

   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

In [15]:
ebola = pd.read_csv('https://raw.githubusercontent.com/chendaniely/pydatadc_2018-tidy/master/data/country_timeseries.csv')

In [16]:
ebola.head()

         Date  Day  ...  Deaths_Spain  Deaths_Mali
0    1/5/2015  289  ...           NaN          NaN
1    1/4/2015  288  ...           NaN          NaN
2    1/3/2015  287  ...           NaN          NaN
3    1/2/2015  286  ...           NaN          NaN
4  12/31/2014  284  ...           NaN          NaN

[5 rows x 18 columns]

In [17]:
ebola_long = pd.melt(ebola, id_vars=['Date','Day'])

In [18]:
ebola_long.head()

         Date  Day      variable   value
0    1/5/2015  289  Cases_Guinea  2776.0
1    1/4/2015  288  Cases_Guinea  2775.0
2    1/3/2015  287  Cases_Guinea  2769.0
3    1/2/2015  286  Cases_Guinea     NaN
4  12/31/2014  284  Cases_Guinea  2730.0

In [19]:
'Cases_Guinea'.split('_')

['Cases', 'Guinea']

In [20]:
variable_split = ebola_long['variable'].str.split('_')

In [21]:
variable_split

0       [Cases, Guinea]
1       [Cases, Guinea]
2       [Cases, Guinea]
3       [Cases, Guinea]
4       [Cases, Guinea]
             ...
1947     [Deaths, Mali]
1948     [Deaths, Mali]
1949     [Deaths, Mali]
1950     [Deaths, Mali]
1951     [Deaths, Mali]
Name: variable, Length: 1952, dtype: object

In [22]:
type(variable_split)

pandas.core.series.Series

In [23]:
type(variable_split[0])

list

In [24]:
(variable_split[0][0])

'Cases'

In [25]:
type(variable_split[0][0])

str

In [26]:
variable_split.str.get(0)

0        Cases
1        Cases
2        Cases
3        Cases
4        Cases
         ...
1947    Deaths
1948    Deaths
1949    Deaths
1950    Deaths
1951    Deaths
Name: variable, Length: 1952, dtype: object

In [27]:
ebola_long['stats'] = variable_split.str.get(0)
ebola_long['country'] = variable_split.str.get(1)

In [28]:
ebola_long.head()

         Date  Day      variable   value  stats country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea

In [29]:
ebola_long[['stats_e', 'country_e']] = (ebola_long['variable'].str.split('_', expand = True))

In [30]:
ebola_long

            Date  Day      variable   value   stats country stats_e country_e
0       1/5/2015  289  Cases_Guinea  2776.0   Cases  Guinea   Cases    Guinea
1       1/4/2015  288  Cases_Guinea  2775.0   Cases  Guinea   Cases    Guinea
2       1/3/2015  287  Cases_Guinea  2769.0   Cases  Guinea   Cases    Guinea
3       1/2/2015  286  Cases_Guinea     NaN   Cases  Guinea   Cases    Guinea
4     12/31/2014  284  Cases_Guinea  2730.0   Cases  Guinea   Cases    Guinea
...          ...  ...           ...     ...     ...     ...     ...       ...
1947   3/27/2014    5   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1948   3/26/2014    4   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1949   3/25/2014    3   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1950   3/24/2014    2   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali
1951   3/22/2014    0   Deaths_Mali     NaN  Deaths    Mali  Deaths      Mali

[1952 rows x 8 columns]

In [31]:
weather = pd.read_csv('https://raw.githubusercontent.com/chendaniely/pydatadc_2018-tidy/master/data/weather.csv')

In [32]:
weather

         id  year  month element    d1  ...   d27   d28   d29   d30   d31
0   MX17004  2010      1    tmax   NaN  ...   NaN   NaN   NaN  27.8   NaN
1   MX17004  2010      1    tmin   NaN  ...   NaN   NaN   NaN  14.5   NaN
2   MX17004  2010      2    tmax   NaN  ...   NaN   NaN   NaN   NaN   NaN
3   MX17004  2010      2    tmin   NaN  ...   NaN   NaN   NaN   NaN   NaN
4   MX17004  2010      3    tmax   NaN  ...   NaN   NaN   NaN   NaN   NaN
5   MX17004  2010      3    tmin   NaN  ...   NaN   NaN   NaN   NaN   NaN
6   MX17004  2010      4    tmax   NaN  ...  36.3   NaN   NaN   NaN   NaN
7   MX17004  2010      4    tmin   NaN  ...  16.7   NaN   NaN   NaN   NaN
8   MX17004  2010      5    tmax   NaN  ...  33.2   NaN   NaN   NaN   NaN
9   MX17004  2010      5    tmin   NaN  ...  18.2   NaN   NaN   NaN   NaN
10  MX17004  2010      6    tmax   NaN  ...   NaN   NaN  30.1   NaN   NaN
11  MX17004  2010      6    tmin   NaN  ...   NaN   NaN  18.0   NaN   NaN
12  MX17004  2010      7    tmax   NaN  ...   NaN   NaN   NaN   NaN   NaN
13  MX17004  2010      7    tmin   NaN  ...   NaN   NaN   NaN   NaN   NaN
14  MX17004  2010      8    tmax   NaN  ...   NaN   NaN  28.0   NaN  25.4
15  MX17004  2010      8    tmin   NaN  ...   NaN   NaN  15.3   NaN  15.4
16  MX17004  2010     10    tmax   NaN  ...   NaN  31.2   NaN   NaN   NaN
17  MX17004  2010     10    tmin   NaN  ...   NaN  15.0   NaN   NaN   NaN
18  MX17004  2010     11    tmax   NaN  ...  27.7   NaN   NaN   NaN   NaN
19  MX17004  2010     11    tmin   NaN  ...  14.2   NaN   NaN   NaN   NaN
20  MX17004  2010     12    tmax  29.9  ...   NaN   NaN   NaN   NaN   NaN
21  MX17004  2010     12    tmin  13.8  ...   NaN   NaN   NaN   NaN   NaN

[22 rows x 35 columns]

In [33]:
weather_melt = pd.melt(
    weather,
    id_vars = ['id', 'year', 'month', 'element'],
    var_name = 'day',
    value_name = 'temp'
)

In [34]:
weather_melt.head()

        id  year  month element day  temp
0  MX17004  2010      1    tmax  d1   NaN
1  MX17004  2010      1    tmin  d1   NaN
2  MX17004  2010      2    tmax  d1   NaN
3  MX17004  2010      2    tmin  d1   NaN
4  MX17004  2010      3    tmax  d1   NaN

In [35]:
weather_tidy = weather_melt.pivot_table(
    index = ['id', 'year','month','day'],
    columns = 'element',
    values = 'temp'
)

In [36]:
weather_tidy

element                 tmax  tmin
id      year month day
MX17004 2010 1     d30  27.8  14.5
             2     d11  29.7  13.4
                   d2   27.3  14.4
                   d23  29.9  10.7
                   d3   24.1  14.4
             3     d10  34.5  16.8
                   d16  31.1  17.6
                   d5   32.1  14.2
             4     d27  36.3  16.7
             5     d27  33.2  18.2
             6     d17  28.0  17.5
                   d29  30.1  18.0
             7     d3   28.6  17.5
                   d14  29.9  16.5
             8     d23  26.4  15.0
                   d5   29.6  15.8
                   d29  28.0  15.3
                   d13  29.8  16.5
                   d25  29.7  15.6
                   d31  25.4  15.4
                   d8   29.0  17.3
             10    d5   27.0  14.0
                   d14  29.5  13.0
                   d15  28.7  10.5
                   d28  31.2  15.0
                   d7   28.1  12.9
             11    d2   31.3  16.3
                   d5   26.3   7.9
                   d27  27.7  14.2
                   d26  28.1  12.1
                   d4   27.2  12.0
             12    d1   29.9  13.8
                   d6   27.8  10.5

In [37]:
weather_tidy.reset_index()

element       id  year  month  day  tmax  tmin
0        MX17004  2010      1  d30  27.8  14.5
1        MX17004  2010      2  d11  29.7  13.4
2        MX17004  2010      2   d2  27.3  14.4
3        MX17004  2010      2  d23  29.9  10.7
4        MX17004  2010      2   d3  24.1  14.4
5        MX17004  2010      3  d10  34.5  16.8
6        MX17004  2010      3  d16  31.1  17.6
7        MX17004  2010      3   d5  32.1  14.2
8        MX17004  2010      4  d27  36.3  16.7
9        MX17004  2010      5  d27  33.2  18.2
10       MX17004  2010      6  d17  28.0  17.5
11       MX17004  2010      6  d29  30.1  18.0
12       MX17004  2010      7   d3  28.6  17.5
13       MX17004  2010      7  d14  29.9  16.5
14       MX17004  2010      8  d23  26.4  15.0
15       MX17004  2010      8   d5  29.6  15.8
16       MX17004  2010      8  d29  28.0  15.3
17       MX17004  2010      8  d13  29.8  16.5
18       MX17004  2010      8  d25  29.7  15.6
19       MX17004  2010      8  d31  25.4  15.4
20       MX17004  2010      8   d8  29.0  17.3
21       MX17004  2010     10   d5  27.0  14.0
22       MX17004  2010     10  d14  29.5  13.0
23       MX17004  2010     10  d15  28.7  10.5
24       MX17004  2010     10  d28  31.2  15.0
25       MX17004  2010     10   d7  28.1  12.9
26       MX17004  2010     11   d2  31.3  16.3
27       MX17004  2010     11   d5  26.3   7.9
28       MX17004  2010     11  d27  27.7  14.2
29       MX17004  2010     11  d26  28.1  12.1
30       MX17004  2010     11   d4  27.2  12.0
31       MX17004  2010     12   d1  29.9  13.8
32       MX17004  2010     12   d6  27.8  10.5

In [38]:
billboard.head()

   year        artist                    track  time  ... wk73  wk74  wk75  wk76
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22  ...  NaN   NaN   NaN   NaN
1  2000       2Ge+her  The Hardest Part Of ...  3:15  ...  NaN   NaN   NaN   NaN
2  2000  3 Doors Down               Kryptonite  3:53  ...  NaN   NaN   NaN   NaN
3  2000  3 Doors Down                    Loser  4:24  ...  NaN   NaN   NaN   NaN
4  2000      504 Boyz            Wobble Wobble  3:35  ...  NaN   NaN   NaN   NaN

[5 rows x 81 columns]

In [39]:
billboard_melt.head()

   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

In [40]:
billboard_songs = billboard_melt[['year','artist','track','time']]

In [41]:
billboard_songs.head()

   year        artist                    track  time
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22
1  2000       2Ge+her  The Hardest Part Of ...  3:15
2  2000  3 Doors Down               Kryptonite  3:53
3  2000  3 Doors Down                    Loser  4:24
4  2000      504 Boyz            Wobble Wobble  3:35

In [43]:
billboard_songs.shape

(24092, 4)

In [44]:
billboard_songs = billboard_songs.drop_duplicates()

In [46]:
billboard_songs['id'] = range(len(billboard_songs))

In [47]:
billboard_songs.head()

   year        artist                    track  time  id
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   1
2  2000  3 Doors Down               Kryptonite  3:53   2
3  2000  3 Doors Down                    Loser  4:24   3
4  2000      504 Boyz            Wobble Wobble  3:35   4

In [48]:
billboard_songs.to_csv('billboard_songs.csv', index = False)

In [49]:
billboard_ratings = billboard_melt.merge(
    billboard_songs, on = ['year','artist','track','time']
)

In [50]:
billboard.head()

   year        artist                    track  time  ... wk73  wk74  wk75  wk76
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22  ...  NaN   NaN   NaN   NaN
1  2000       2Ge+her  The Hardest Part Of ...  3:15  ...  NaN   NaN   NaN   NaN
2  2000  3 Doors Down               Kryptonite  3:53  ...  NaN   NaN   NaN   NaN
3  2000  3 Doors Down                    Loser  4:24  ...  NaN   NaN   NaN   NaN
4  2000      504 Boyz            Wobble Wobble  3:35  ...  NaN   NaN   NaN   NaN

[5 rows x 81 columns]

In [53]:
billboard_ratings = billboard_ratings[['id','date.entered','week','rating']]

In [54]:
billboard_ratings.head()

   id date.entered week  rating
0   0   2000-02-26  wk1    87.0
1   0   2000-02-26  wk2    82.0
2   0   2000-02-26  wk3    72.0
3   0   2000-02-26  wk4    77.0
4   0   2000-02-26  wk5    87.0

In [56]:
billboard_ratings.to_csv('billboard_ratings.csv', index = False)

In [57]:
billboard_songs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 317 entries, 0 to 316
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    317 non-null    int64
 1   artist  317 non-null    object
 2   track   317 non-null    object
 3   time    317 non-null    object
 4   id      317 non-null    int64
dtypes: int64(2), object(3)
memory usage: 14.9+ KB

### WHAT DID WE LEARN?
 -  from this we have learned how to clean and join messy data.
 -  we get to know how to retrieve tab seperated data and convert them into a dataframe using pandas.
 -  if we want to retieve specific data from the whole dataframe we can use few specific pandas functions or only select the required columns and work on the new dataset
 -  leaned how to use pivot_table functions with pandas 
 -  we used functions like pandas.pivot_table, pandas.melt, pandas.merge etc 
 -  we also merged multiple data frames using joins
 - Finally, cleaning data is a very important step to proceed with the next stage of data analysis